@model autohaus.Models.Vertrag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vertrag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erstellungsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erstellungsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benutzer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benutzer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Markt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Markt.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Vertragnummer">Editieren</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
